@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
/* utiliser le font roboto dans tout bady */
*{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    /* espace entre image et ul */
    justify-content: space-between;
    /* alignement les elemnts de nav barre */
    align-items: center;
    position: fixed;
    width: 99%;
    height: 70px;
    background-color: #ffffff;
    top: 0;
    left: 0;
}
.logo{
    height: 33px;
    width: 268px;

}
.ul-nav{
display: flex;
/* supprimer les points de liste ul */
list-style-type: none;
/* espace entre les elements de liste ul */
gap:10px;
font-size: 15px;
line-height: 30px;
color: #ababab;

}
.li{

    font-size: 15px;
    line-height: 30px;
    
    
}
#about{
    color: #00B39B;
}
/* lorsque flotter curseur sur le mot le couleur change */
.nav-li:hover{
color: #00B39B;
cursor: pointer;
}
.ul-nav-sec{
list-style-type: none;
color: #ababab;
position: absolute;
top:25px;
left:-130px;
box-shadow: 8px -3px 12px 2px rgba(0,0,0,0.33);
-webkit-box-shadow: 8px -3px 12px 2px rgba(0,0,0,0.33);
-moz-box-shadow: 8px -3px 12px 2px rgba(0,0,0,0.33);
display: none;
}
.nav-li-sec{
    padding: 8px 10px;
    margin-left: -40px;
}
#depart{
    position: relative;
}
.nav-li-sec:hover{
    background-color: #cdcdcd;
    color: #00B39B;
}
#depart:hover .ul-nav-sec{
    display: block;
}
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
   h1{
        align-self:  center;
        font-family: "Work Sans", Arial, sans-serif;
        background-color:  #FFFFFF;
        color:  #00B39B;
        font-size: 34px;
        font-weight: 300;
        letter-spacing: -0.3px;
        line-height: 44.2px;
        text-decoration: none solid rgb(0, 179, 155);
    }
    
.icon{
    padding-top: 140px;
    height: 39px;
    width: 40px;
    margin: 0 auto;
    }
.parg{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    margin: 150px 150px;
    padding: 30px 30px;
    color: #ababab;
    }
    .sec1{
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }
    .patient{
        font-size: 16px;
        height: 365px;
        width: 331.625px;
     padding: 10px 10px 10px 10px;
     min-height: 1px;
     background-color:#00B39B;
     line-height: 20.8px;
     border-radius: 10px;
     margin: 20px 20px;
    }
   

    .imgp{
        height: 24px; 
        width: 24px;
         margin: 0 0 -6px 0;
        max-width: 100%;
    }
    .h1p{
        font-family: "Work Sans", Arial, sans-serif;
        background-color: #FFFFFF;
    }
    .h2p{
        font-size: 24px;
        color: #ffffff;
    }
    .doctor{
        font-size: 16px;
        height: 365px;
        width: 331.625px;
     padding: 10px 10px 10px 10px;
     min-height: 1px;
     background-color: #3D83DF;
     line-height: 20.8px;
     border-radius: 10px;
     margin: 20px 20px;
    }
    .clinic{
        font-size: 16px;
        height: 365px;
        width: 331.625px;
     padding: 10px 10px 10px 10px;
     min-height: 1px;
     background-color: #1B2734;
     line-height: 20.8px;
     border-radius: 10px;
     margin: 20px 20px;
    }

